<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infinite Cinemas</title>
</head>
<body style="text-align: center">
    <h2>Infinite Cinemas</h2>
    <h4>Your Booking Success</h4>
    <h5><%= cinema.name %> | <%= cinema.film %></h5>
    <h5>Your Booking Code: <%= objCreatedTicket.bookingCode %></h5>
    <h5>Total Price : <%= objCreatedTicket.totalPrice %></h5>
    <h5><%= cinema.schedule %></h5>
    <a href="/"><button>CLOSE</button></a>
</body>
</html>